---
import type { GetStaticPaths } from "astro";
import type { BlogResponse } from "../../interfaces/blog-response.interface";
import Layout from "../../layouts/Layout.astro";
export const getStaticPaths = (async () => {
  const response = await fetch(`${import.meta.env.BLOG_BASE_URL}/posts?_embed`);
  let data = (await response.json()) as BlogResponse;
  return data.map((post) => ({
    params: { slug: post.slug },
    props: {
      imgSrc:
        post._embedded["wp:featuredmedia"][0].media_details.sizes.medium
          .source_url,
      title: post.title.rendered,
      content: post.content.rendered,
    },
  }));
}) satisfies GetStaticPaths;
const { slug } = Astro.params;
const { imgSrc, title, content } = Astro.props;
---

<style is:inline>
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700 !important;
  }
  ol,
  ul {
    box-sizing: border-box !important;
  }

  ul {
    list-style: disc outside !important;
    padding-left: 45px !important;
  }
  ol,
  ul {
    margin-left: 0px !important;
  }

  ul,
  ol {
    margin-bottom: 20px !important;
  }
  ul li {
    color: #1c1d1f !important;
  }
  p {
    margin-bottom: 26px !important;
  }
</style>

<Layout title={title}>
  <div class="flex flex-col w-full">
    <div>
      <a href="../">Regresar</a>
    </div>
    <article class:list={["flex flex-col   items-center rounded "]}>
      <img
        transition:name={`${title}-image`}
        class="w-96 h-auto"
        src={imgSrc}
        alt={`blog ${title}`}
      />
      <h2 class="capitalize text-xl my-5 font-medium">
        {title}
      </h2>
      <!-- {JSON.stringify(content)} -->
      <div>
        <Fragment set:html={content} />
      </div>
      <!-- <p class="mt-2 text-left" set:html={content} /> -->
    </article>
  </div></Layout
>

<style>
  a {
    @apply hover:underline text-blue-500;
  }
</style>
