---
import { ViewTransitions } from "astro:transitions";
import { SiteInfo } from "../constants/site-info";

interface Props {
  title?: string;
  image?: string;
  description?: string;
}
const {
  title = SiteInfo.title,
  description = SiteInfo.description,
  image,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="author" content={SiteInfo.author} />

    <!-- OG Metatags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Required -->
    <title>{title}</title>

    <ViewTransitions />
    <!-- <style>
      @view-transition {
        navigation: auto;
      }
    </style> -->
  </head>
  <body class="">
    <div class="mt-10 max-w-4xl mx-auto pb-4">
      <main class="md:p-10 p-5 shadow-none md:shadow-lg w-full">
        <slot />
      </main>
    </div>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    color: black;
  }
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
    /* font-size: 20px; */
    line-height: 1.6;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
